@import 'palette';

@mixin button-white {
  background: $main-0;
  border: 1px solid $main-20;
  color: $main-70;
  height: 42px;
}

@mixin button-black {
  background: $main-100;
  color: $main-0;
  border-radius: $default-border-radius;
  height: 40px;
}

@mixin button-blue {
  background: $blue-60;
  color: white;
  border-radius: $default-border-radius;
  height: 40px;
}

@mixin button-green {
  background: $green-0;
  color: $green-50 !important;
  border-radius: $default-border-radius;
  height: 40px;
}

@mixin button-red {
  background: $red-10;
  color: $red-70 !important;
  border-radius: $default-border-radius;
  height: 40px;
}

@mixin button-disabled {
  border: 1px solid $main-30;
  background-color: $main-20;
  cursor: not-allowed;
  color: $main-60;
}
