@import 'palette';

@mixin button-white {
  background: $main-0;
  border: 1px solid $main-20;
  color: $main-70;
  height: 42px;
}

@mixin button-black {
  background: $main-100;
  color: $main-0;
  border-radius: $default-border-radius;
  height: 40px;
}
