@import 'palette';

.kafka-navbar {
  display: flex;
  height: 48px;
  align-items: stretch;
  padding-left: 10px;
  padding-right: 30px;
  background-color: $primary-gray-color;

  & > a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: $palette-white;
  }

  & > * {
    display: flex;
    align-items: center;
  }

  a {
    &.active {
      background-color: $primary-red-color;
    }
    &:hover {
      background-color: $color-dark-red;
    }
  }
}

.kafka-search {
  padding-left: 20px;
  i {
    color: $palette-white;
  }

  input.kafka-search-input {
    margin-left: 10px;
    height: 2rem;
    font-size: 16px;
    color: $palette-white;
    box-shadow: none;
    &:focus,
    &:active,
    &:hover {
      border-bottom-color: $palette-white;
    }
  }
}

.kafka-spring {
  flex-grow: 1;
}

.kafka-logo {
  font-size: 20px;
  font-weight: bold;
}

.server-select {
  width: 200px;
  height: 30px;
  font-size: 12px;
  margin-top: 10px;
}

.kouncil-version {
  font-size: 10px;
  font-weight: normal;
}
