<mat-toolbar>
  <img src="assets/kouncil-logo.png" class="kouncil-logo" />
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/topics']">Topics</button>
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/brokers']">Brokers</button>
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/consumer-groups']">Consumer Groups</button>

  <mat-divider [vertical]="true"></mat-divider>

  <button class="menu-button" mat-button disableRipple onClick="window.open('//github.com/consdata/kouncil')">
      Documentation
      <mat-icon aria-hidden="false">open_in_new</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="search">
    <input accesskey="/" class="search-input" type="text" placeholder="Search" (input)="onPhraseChange($event.target.value)" #searchInput>
  </div>
  <mat-form-field class="servers-form-field">
    <mat-select panelClass="servers-list" class="select servers" [(value)]="servers.selectedServer.serverId">
      <mat-option *ngFor="let s of servers.servers" value="{{s.serverId}}">{{s.label}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
