<mat-toolbar>
  <span class="kouncil-logo">Kouncil</span>
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/topics']">Topics</button>
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/brokers']">Brokers</button>
  <button class="menu-button" mat-button disableRipple routerLinkActive="active" [routerLink]="['/consumer-groups']">Consumer Groups</button>

  <mat-divider [vertical]="true"></mat-divider>

  <button class="menu-button" mat-button disableRipple onClick="window.open('//github.com/consdata/kouncil')">
      Documentation
      <mat-icon aria-hidden="false" aria-label="Example home icon">open_in_new</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="search">
    <input accesskey="/" class="search-input" type="text" placeholder="Search" (input)="onPhraseChange($event.target.value)" #searchInput>
  </div>

</mat-toolbar>
