@import 'palette';

.topic {
  height: 100%;
}

.topic-toolbar-area {
  display: flex;
}

.topic-table-area {
  height: calc(100% - 110px);
}

.topic-table {
  height: 100%;

  ::ng-deep .datatable-body-row {
    border-bottom: none;
  }

  ::ng-deep .datatable-header-cell-template-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    min-height: 26px;

    .datatable-header-cell-label {
      max-width: calc(100% - 30px);
      overflow: hidden;
      text-overflow: ellipsis;
      direction: rtl;
      text-align: left;
    }

  }

}

.topic-pagination {
  width: 100%;
}
