<div class="topic">
  <div class="topic-table-area">
    <div class="topic-toolbar-area">
      <kafka-toolbar [name]="topicName" (onAction)="onAction($event)"
                     (onOpenSendPopup)="openSendPopup()"></kafka-toolbar>
    </div>

    <ng-template #noDataPlaceholder>
      <app-no-data-placeholder [objectTypeName]="'Message'"></app-no-data-placeholder>
    </ng-template>
    <ngx-datatable *ngIf="filteredRows && filteredRows.length > 0; else noDataPlaceholder"
                   class="topic-table material expandable"
                   [rows]="filteredRows"
                   [columns]="columns"
                   [rowHeight]="48"
                   [headerHeight]="48"
                   [footerHeight]="80"
                   [scrollbarH]="true"
                   [scrollbarV]="true"
                   [columnMode]="'force'"
                   [rowClass]="getRowClass"
                   [loadingIndicator]="isLoading()"
                   (activate)="showMessage($event)"
                   #table>

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <topic-pagination class="topic-pagination" [paging]="paging$ | async" [topicName]="topicName"></topic-pagination>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <ng-template #headerTemplate let-column="column" let-sort="sortFn">
    <span class="datatable-header-cell-wrapper datatable-header-cell-label" title="{{column.name}}"
          (click)="sort()">{{column.nameShort}}</span>
  </ng-template>

</div>
