@import 'palette';

.kafka-topic-footer {
  display: flex;
  font-size: 15px;
  width: 100%;
  justify-content: center;
}

.kafka-topic-footer-pager-item {
  display: inline-block;
  justify-content: center;
}

.kafka-topic-footer-pager-select-limit {
  display: inline-block;
  height: 22px;
  width: 50px;
  line-height: 22px;
  padding: 0 6px;
  border-radius: 3px;
  margin: 0 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  appearance: none;
  background-color: rgba(158, 158, 158, 0.2);
  font-weight: bold;
  cursor: pointer;
}
