<div class="kafka-brokers">
  <ng-template #noDataPlaceholder>
    <app-no-data-placeholder [objectTypeName]="'Broker'"></app-no-data-placeholder>
  </ng-template>
  <ngx-datatable *ngIf="filteredBrokers && filteredBrokers.length > 0; else noDataPlaceholder"
                 class="brokers-table material expandable"
                 [rows]="filteredBrokers"
                 [rowHeight]="48"
                 [headerHeight]="48"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'force'"
                 (activate)="showBrokerDetails($event)"
                 #table>

    <ngx-datatable-column [width]="150" prop="id" name="ID"></ngx-datatable-column>
    <ngx-datatable-column [width]="200" prop="host" name="Host"></ngx-datatable-column>
    <ngx-datatable-column [width]="150" prop="port" name="Port"></ngx-datatable-column>
    <ngx-datatable-column prop="rack" name="Rack"></ngx-datatable-column>
    <ngx-datatable-column prop="system" name="System" *ngIf="showJmxStats"></ngx-datatable-column>
    <ngx-datatable-column prop="availableProcessors" name="CPUs" *ngIf="showJmxStats"></ngx-datatable-column>
    <ngx-datatable-column prop="systemLoadAverage" name="Load Average" *ngIf="showJmxStats"></ngx-datatable-column>
    <ngx-datatable-column prop="freeMem" name="Free Mem" *ngIf="showJmxStats">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value | fileSize}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="totalMem" name="Total Mem" *ngIf="showJmxStats">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value | fileSize}}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
