<div class="kafka-brokers">
  <ng-template #noDataPlaceholder>
    <app-no-data-placeholder></app-no-data-placeholder>
  </ng-template>
  <ngx-datatable *ngIf="filteredBrokers && filteredBrokers.length > 0; else noDataPlaceholder"
                 class="brokers-table material expandable"
                 [rows]="filteredBrokers"
                 [rowHeight]="40"
                 [headerHeight]="40"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'force'"
                 #table>
    <ngx-datatable-row-detail [rowHeight]="320">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <ngx-datatable class="config-table-detail material"
                       [rows]="row.config"
                       [rowHeight]="30"
                       [headerHeight]="30"
                       [scrollbarH]="false"
                       [scrollbarV]="false"
                       [columnMode]="'force'">
          <ngx-datatable-column [width]="150" prop="name" name="name"></ngx-datatable-column>
          <ngx-datatable-column [width]="200" prop="value" name="value"></ngx-datatable-column>
          <ngx-datatable-column prop="source" name="source"></ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width]="150" prop="id" name="Id"></ngx-datatable-column>
    <ngx-datatable-column [width]="200" prop="host" name="Host"></ngx-datatable-column>
    <ngx-datatable-column [width]="150" prop="port" name="Port"></ngx-datatable-column>
    <ngx-datatable-column prop="rack" name="Rack"></ngx-datatable-column>
  </ngx-datatable>
</div>
