@import 'palette';

.kafka-brokers {

  .brokers-table {
    width: 100%;
  }

}

::ng-deep .datatable-body-row {
  border: none;
}

::ng-deep .datatable-row-wrapper:last-of-type {
  border-bottom: 1px solid $main-20;
}
