@use '../../styles/inputs';
@import '../../styles/palette';

:host {
  height: 100%;

  &.opened {
    width: 240px;
  }

  &.closed {
    width: 50px;
  }

  .sidenav {
    position: fixed;
    z-index: 1000;
    height: calc(100% - 72px);
    top: 72px;
    left: 0;
    background-color: $main-0;
    overflow-x: hidden;
    padding-top: 16px;

    &.opened {
      width: 240px;
    }

    &.closed {
      width: 50px;
    }

    .grouping-menu-item {
      display: flex;
      border-radius: 0;
      min-width: 32px;
      min-height: 20px;
      color: $main-40;
      margin-top: 15px;
      padding: 8px 8px 8px 16px;
      width: 100%;
    }

    .menu-button {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      color: $main-60;
      display: block;
      border-radius: 0;
      min-width: 32px;
      width: 100%;

      &:focus {
        background: transparent;
      }

      &.active {
        background: $blue-10;
        color: $blue-70;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .mat-icon {
          color: $blue-70;
        }
      }
    }
  }

  .sidenav-demo {
    height: calc(100% - 114px);
    top: 114px;
  }
}
