@import '../../styles/palette';

:host {
  .kafka-topics {
    height: 100%;
    overflow-y: auto;
  }

  .datatable-cell-anchor {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
  }

  ::ng-deep .datatable-cell-wrapper .datatable-body-cell-label {
    width: 100%;
    height: 100%;
  }
}
