@use '../../../styles/buttons';
@import '../../../styles/palette';
@import '../../../styles/spaces';

:host {
  .kafka-consumer-group {
    overflow-y: auto;
    height: calc(100% - 22px);
    padding-top: 22px;

    .kafka-consumer-group-header {
      display: flex;
      flex-direction: row;
      place-items: center;
      place-content: space-between;
      padding-right: $space-6;
    }
  }

  .action-button-black {
    @include buttons.button-black;
  }
}
