@import 'palette';

.no-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;

  mat-icon {
    padding: 20px;
    border: 1px solid $red-20;
    border-radius: $default-border-radius;
    background: $red-0;
    color: $red-60;
    font-size: 28px;
  }

  .no-data-label {
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
  }

  .no-data-comment {
    font-size: 14px;
    color: $main-60;
    margin-top: 8px;
  }
}
