<form>
  <div class="filter-title">Correlation Field:</div>
  <div>
    <input class="filter-input" matInput type="text" name="key"/>
  </div>
  <div class=filter-title>Correlation Value:</div>
  <div>
    <input class="filter-input" matInput type="text" name="key"/>
  </div>
  <div class="filter-title">Topics:</div>
  <div>
    <mat-form-field>
      <mat-select class="filter-input" [(ngModel)]="selectedValue" [formControl]="formControl" multiple
                  (focusout)="onOut()">
        <mat-option *ngFor="let topping of topicList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
