<div class="kafka-consumer-group">
  <app-breadcrumb [parentLink]="'/consumer-groups'" [name]="groupId" [parentName]="'Consumer Groups'"></app-breadcrumb>
  <ngx-datatable *ngIf="filteredAssignments"
                 class="brokers-table material"
                 [rows]="filteredAssignments"
                 [rowHeight]="48"
                 [headerHeight]="48"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'force'"
                 [loadingIndicator]="isLoading()"
                 #table>
    <ngx-datatable-column prop="clientId" name="clientId"></ngx-datatable-column>
    <ngx-datatable-column prop="consumerId" name="consumerId"></ngx-datatable-column>
    <ngx-datatable-column prop="host" name="host"></ngx-datatable-column>
    <ngx-datatable-column prop="topic" name="topic"></ngx-datatable-column>
    <ngx-datatable-column prop="partition" name="partition"></ngx-datatable-column>
    <ngx-datatable-column prop="offset" name="offset">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | number }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="endOffset" name="endOffset">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | number }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="lag" name="lag">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | number }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="pace" name="pace">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | number }} per sec
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
