@use '../../../styles/buttons';

:host {
  .datatable-cell-anchor {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  .action-button-red {
    @include buttons.button-red;
    @include buttons.table-button;
  }
}
