<div class="kafka-navbar">
  <a [routerLink]="['/topics']">Topics</a>
  <a [routerLink]="['/brokers']">Brokers</a>
  <a [routerLink]="['/consumer-groups']">Consumers</a>
  <div class="kafka-search">
    <i class="material-icons">search</i>
    <input class="kafka-search-input" type="text" placeholder="" (input)="onPhraseChange($event.target.value)" #searchInput>
  </div>
  <div class="kafka-spring"></div>
  <a class="kafka-logo" href="https://www.consdata.com/"> <img class="consdata-logo-image" src="assets/consdata-logo.png"/></a>
  <a class="kafka-logo" href="https://github.com/Consdata/kafka-companion"><span>Kafka Companion</span> <img class="kafka-logo-image" src="assets/apache-kafka.png"/></a>

</div>
