<div class="kafka-consumer-groups" *ngIf="consumerGroups">
  <ngx-datatable *ngIf="!progress && consumerGroups && consumerGroups.length > 0"
                 class="consumer-groups-table material"
                 [rows]="filtered"
                 [rowHeight]="50"
                 [headerHeight]="40"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'standard'"
                 [groupRowsBy]="'group'"
                 [groupExpansionDefault]="true"
                 [limit]="4"
                 #table>

    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
      <ng-template let-group="group" ngx-datatable-group-header-template>
        <div
          class="kafka-consumer-groups-group-header">{{group.value[0].group === 'FAVOURITES' ? 'FAVOURITES' : 'ALL CONSUMER GROUPS'}}
        </div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column prop="group" name="group" [width]="45">
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <i class="material-icons left kafka-consumer-groups-favourite" *ngIf="value === 'FAVOURITES'"
           (click)="onFavouriteClick(row)">star</i>
        <i class="material-icons left kafka-consumer-groups-favourite" *ngIf="value !== 'FAVOURITES'"
           (click)="onFavouriteClick(row)">star_border</i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="groupId" name="Group id" [width]="500" [sortable]="false" [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a class="kafka-consumer-groups-name" [routerLink]="['/consumer-group/', value]">{{value}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="status" name="Status" [width]="150" [sortable]="false"
                          [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" prop="groupId" [width]="280" [sortable]="false" [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a class="kafka-consumer-groups-action btn"
           [routerLink]="['/consumer-group/', value]"><i class="material-icons left">search</i>BROWSE</a>
        <a class="kafka-consumer-groups-action btn"
           (click)="deleteConsumerGroup(value)"><i class="material-icons left btn-outline-warning">delete</i></a>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
