@import 'palette';

.topic {
  height: 100%;
}

.topic-toolbar-area {
  height: 40px;
}

.topic-table-area {
  padding: 10px;
  height: calc(100% - 48px);
}

.topic-table {
  height: 100%;
}

::ng-deep .kafka-row-delta {
  background-color: #f6f6f6;
}

.kafka-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid $palette-very-light-gray;
  border-top: 16px solid $primary-red-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.kafka-row-details {
  height: 300px;
  white-space: pre;
  direction:rtl;
  overflow: auto;
}

.kafka-row-details-inner {
  direction:ltr;
}

.kafka-topic-footer {
  display: flex;
  font-size: 15px;
  .kafka-topic-footer-segment {
    padding-left: 20px;
  }
}

.kafka-arrow {
  color: $primary-red-color;
}
