<div class="topic">
  <div class="topic-toolbar-area">
    <kafka-toolbar [name]="topicName" (onAction)="onAction($event)">
    </kafka-toolbar>
    <div class="kafka-topic">
      <div class="kafka-topic-segment">
        Choose partition:
        <span *ngIf="partitions?.length > VISIBLE_PARTITION_QUANTITY" class="kafka-badge-secondary"
              [ngClass]="{'kafka-badge-secondary-disabled': hasNoMorePrevValues()}" (click)="previous()">&#60;</span>
        <span *ngFor="let i of visiblePartitions">
              <span [ngClass]="(selectedPartitions[i] === 1)?'kafka-badge-primary':'kafka-badge-secondary'"
                    class="partition"
                    (click)="togglePartition(i)"
                    [title]="getPartitionOffset(i)">{{i}}</span>
                </span>
        <span *ngIf="partitions?.length > VISIBLE_PARTITION_QUANTITY" class="kafka-badge-secondary"
              [ngClass]="{'kafka-badge-secondary-disabled': hasNoMoreNextValues()}"
              (click)="next()">&#62;</span>
      </div>
    </div>
  </div>
  <div class="topic-table-area">

    <ngx-datatable
                   class="topic-table material expandable"
                   [rows]="filteredRows"
                   [columns]="columns"
                   [rowHeight]="40"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [scrollbarH]="true"
                   [scrollbarV]="true"
                   [columnMode]="'force'"
                   [rowClass]="getRowClass"
                   #table>

      <ngx-datatable-row-detail [rowHeight]="320">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div class="kafka-row-details">
            <div
              class="kafka-row-details-inner">
              <div>
                <button class="kafka-small-btn-action " [cdkCopyToClipboard]="formatJson(row.kafkaCompanionValueJson)">Copy to clipboard</button>
                <button class="kafka-small-btn-action" [routerLink]="['/topic/send', {topicName: topicName, key:row.kafkaCompanionKey,value:formatJson(row.kafkaCompanionValueJson)}]">Resend</button>
              </div>
              <ngx-json-viewer [json]="row.kafkaCompanionValueJson"></ngx-json-viewer>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-footer>

      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <ng-template #headerTemplate let-column="column">
    <div title="{{column.name}}">{{column.nameShort}}</div>
  </ng-template>

  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #expandColumnTemplate>
    <a
      href="javascript:void(0)"
      class="kafka-arrow"
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)">
    </a>
  </ng-template>

</div>
