<div class="topic">
  <div class="topic-toolbar-area">
    <kafka-toolbar [name]="topicName" (onAction)="onAction($event)"></kafka-toolbar>
  </div>
  <div class="topic-table-area">
    <ngx-datatable
                   class="topic-table material expandable"
                   [rows]="filteredRows"
                   [columns]="columns"
                   [rowHeight]="40"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [scrollbarH]="true"
                   [scrollbarV]="true"
                   [columnMode]="'force'"
                   [rowClass]="getRowClass"
                   #table>

      <ngx-datatable-row-detail [rowHeight]="320">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div class="kafka-row-details">
            <div
              class="kafka-row-details-inner">
              <div>
                <button class="kafka-small-btn-action " [cdkCopyToClipboard]="formatJson(row.kafkaCompanionValueJson)">Copy to clipboard</button>
                <button class="kafka-small-btn-action" [routerLink]="['/topic/send', {topicName: topicName, key:row.kafkaCompanionKey,value:formatJson(row.kafkaCompanionValueJson)}]">Resend</button>
              </div>
              <ngx-json-viewer [json]="row.kafkaCompanionValueJson" class="json-details"></ngx-json-viewer>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template>
          <div class="kafka-topic-footer">
            <div class="kafka-topic-footer-segment">
              Choose partition:
              <span *ngFor="let i of partitions">
              <span [ngClass]="(selectedPartitions[i] === 1)?'kafka-badge-primary':'kafka-badge-secondary'"
                    (click)="togglePartition(i)">{{i}}</span>
                </span>
            </div>
            <div class="kafka-topic-footer-segment">
              Start offsets: {{formatJson(partitionOffsets)}}
            </div>
            <div class="kafka-topic-footer-segment">
              End offsets: {{formatJson(partitionEndOffsets)}}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <ng-template #headerTemplate let-column="column">
    <div title="{{column.name}}">{{column.nameShort}}</div>
  </ng-template>

  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #expandColumnTemplate>
    <a
      href="javascript:void(0)"
      class="kafka-arrow"
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)">
    </a>
  </ng-template>

</div>
