<div class="topic">
  <div class="topic-toolbar-area">
    <kafka-toolbar [name]="topicName" (onAction)="onAction($event)"></kafka-toolbar>
  </div>
  <div *ngIf="progress" class="kafka-progress">Loading data...</div>
  <div class="topic-table-area">
    <ngx-datatable *ngIf="!progress"
                   class="topic-table material expandable"
                   [rows]="filteredRows"
                   [columns]="columns"
                   [rowHeight]="40"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [scrollbarH]="true"
                   [scrollbarV]="true"
                   [columnMode]="'force'"
                   [rowClass]="getRowClass"
                   #table>

      <ngx-datatable-row-detail [rowHeight]="320">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="kafka-row-details">
            <div
              class="kafka-row-details-inner">{{row.kafkaCompanionValueJson ? formatJson(row.kafkaCompanionValueJson) : row.kafkaCompanionValue}}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>


      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div class="kafka-topic-footer">
            <div class="kafka-topic-footer-segment">
              Total: <span class="kafka-badge-primary">{{getTotal() | number}}</span>
            </div>
            <div class="kafka-topic-footer-segment">
              Partitions: <span class="kafka-badge-secondary">{{getPartitionsCount()}}</span>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <ng-template #headerTemplate let-column="column">
    <div title="{{column.name}}">{{column.nameShort}}</div>
  </ng-template>

  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #expandColumnTemplate>
    <a
      href="javascript:void(0)"
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)">
    </a>
  </ng-template>

</div>
