/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/scss/bootstrap";
//$primary-color: #ef6c00;
$secondary-color: #ef6c00;
@import 'palette';
@import 'node_modules/materialize-css/sass/materialize';

@import '../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

html, body {
  height: 100%;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.kafka-badge {
  display: inline-block;
  padding: 0.2em 0.3em;
  margin-left: 5px;
  border-radius: 0.3em;
  color: white;
  min-width: 20px;
  text-align: center;
  cursor: pointer;
}

.kafka-badge-primary {
  @extend .kafka-badge;
  background-color: $primary-red-color;
  width: 25px;
}

.kafka-badge-secondary-disabled {
  cursor: default;
  opacity: 50%;
}

.kafka-badge-secondary {
  @extend .kafka-badge;
  background-color: $color-gray-1;
  width: 25px;
}

.kafka-primary-action {
  border: 2px solid $primary-red-color;
  background-color: $primary-red-color;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  &:focus,
  &:active,
  &:hover {
    background-color: $color-dark-red;
    border: 2px solid $primary-red-color;
  }
}

.kafka-secondary-action {
  background-color: $palette-white;
  border: 2px solid $primary-red-color;
  color: $primary-red-color;
  box-shadow: none;
  font-weight: bold;
  &:focus,
  &:active,
  &:hover {
    background-color: $palette-very-light-gray;
  }
}


.kafka-small-btn-action {
  background-color: $palette-white;
  border: 1px solid $primary-red-color;
  color: $primary-red-color;
  margin-right: 10px;
  cursor: pointer;
  &:focus,
  &:active,
  &:hover {
    border: 1px solid $color-dark-red;
    color: $color-dark-red;
  }
}

