<div class="kafka-brokers">
  <ng-template #noDataPlaceholder>
    <app-no-data-placeholder></app-no-data-placeholder>
  </ng-template>
  <ngx-datatable *ngIf="filteredBrokers; else noDataPlaceholder"
                 class="brokers-table material"
                 [rows]="filteredBrokers"
                 [rowHeight]="40"
                 [headerHeight]="40"
                 [scrollbarH]="true"
                 [scrollbarV]="true"
                 [columnMode]="'force'"
                 #table>
    <ngx-datatable-column prop="id" name="Id"></ngx-datatable-column>
    <ngx-datatable-column prop="host" name="Host"></ngx-datatable-column>
    <ngx-datatable-column prop="port" name="port"></ngx-datatable-column>
    <ngx-datatable-column prop="rack" name="rack"></ngx-datatable-column>
  </ngx-datatable>
</div>
