// global styles regarding ngx-datatable
@import "palette";

ngx-datatable.ngx-datatable {
}

.ngx-datatable {
  font-family: 'Inter';
  padding: 24px 0 0 0;
}

.datatable-body {
}

.datatable-header {
  padding: 0 24px;
}

.datatable-header-cell-label {
  font-size: 14px;
  font-weight: 500;
}

.group-header {
  font-size: 18px;
  line-height: 28px;
  color: $main-100;
  font-weight: 500;
}

.datatable-group-header {
  padding: 24px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .group-header {
    flex-grow: 0;
  }

  .datatable-header-divider {
    flex-grow: 1;
    flex-shrink: 0;
    border-bottom: 1px solid $main-30;
    margin: 0 16px;
  }

  .datatable-header-hide {
    flex-grow: 0;
    font-weight: 500;
    color: $main-60;
    text-decoration: underline;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
  }
}

.datatable-body-row {
  cursor: pointer;
  background: $main-0;
  border-top: 1px solid $main-20;
  border-bottom: 1px solid $main-20;
  margin-bottom: -1px;

  .ngx-action-button {
    visibility: hidden;
    background: $main-100;
    color: $main-text-light-color;
    font-size: 14px;
    border-radius: $default-border-radius;
    height: 32px;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
  }

  &:hover {
    background: $main-10;

    .ngx-action-button {
      visibility: visible;
    }
  }
}

.ngx-actions-column {
  flex-direction: row-reverse;
  padding-right: 24px;
}

.datatable-body-cell {
  font-size: 14px;
  text-decoration: none;
  color: $main-100;
  padding-left: 24px;

  .datatable-body-cell-label {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.ngx-datatable.material datatable-progress {
  display: none;
}

mat-icon.ngx-star-favourite {
  color: $blue-60;
  font-size: 24px;
  margin-left: 0;

  &.gray {
    color: $main-30;
  }
}
