@use '~@angular/material' as mat;
@import 'palette';
@import 'ngx';
@import 'material';

@include mat.core();

$kouncil-primary: mat.define-palette($palette-main);
$kouncil-accent: mat.define-palette($palette-accent);
$kouncil-warn: mat.define-palette($palette-warn);

$kouncil-theme: mat.define-light-theme((
  color: (
    primary: $kouncil-primary,
    accent: $kouncil-accent,
    warn: $kouncil-warn,
  )
));

@include mat.all-component-themes($kouncil-theme);

$custom-typography: mat.define-typography-config(
  $font-family: 'Inter, normal'
);
@include mat.typography-hierarchy($custom-typography);
@include mat.core($custom-typography);

@import '../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

html, body {
  height: 100%;
  margin: 0;
  background-color: $main-10;
  font-family: 'Inter';
}

.cdk-global-scrollblock {
  overflow-y: auto;
}

.spacer {
  flex: 1 1 auto;
}

.kafka-progress {
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  z-index: 1;
  border: 16px solid $main-20;
  border-top: 16px solid $main-60;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
