@import 'palette';
@import 'ngx';
@import '~@angular/material/theming';

@include mat-core();

$kouncil-primary: mat-palette($palette-main);
$kouncil-accent: mat-palette($palette-accent);
$kouncil-warn: mat-palette($palette-warn);

$kouncil-theme: mat-light-theme((
  color: (
    primary: $kouncil-primary,
    accent: $kouncil-accent,
    warn: $kouncil-warn,
  )
));

@include angular-material-theme($kouncil-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Inter, normal'
);
@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);

$secondary-color: #ef6c00;
//@import 'node_modules/materialize-css/sass/materialize';

// @import '../../node_modules/@swimlane/ngx-datatable/index.css';
// @import '../../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

html, body {
  height: 100%;
  margin: 0;
  background-color: $main-10;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.ngx-datatable.material datatable-progress {
  display: none;
}

.ngx-datatable.material .empty-row, .no-data-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: $primary-red-color;
  font-size: large;
}

.kafka-badge {
  display: inline-block;
  padding: 0.2em 0.3em;
  margin-left: 5px;
  border-radius: 0.3em;
  color: white;
  min-width: 20px;
  text-align: center;
  cursor: pointer;
}

.kafka-badge-primary {
  @extend .kafka-badge;
  background-color: $primary-red-color;
  width: 25px;
}

.kafka-badge-secondary-disabled {
  cursor: default;
  opacity: 50%;
}

.kafka-badge-secondary {
  @extend .kafka-badge;
  background-color: $color-gray-1;
  width: 25px;
}

.kafka-primary-action {
  border: 2px solid $primary-red-color;
  background-color: $primary-red-color;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  &:focus,
  &:active,
  &:hover {
    background-color: $color-dark-red;
    border: 2px solid $primary-red-color;
  }
}

.kafka-secondary-action {
  background-color: $palette-white;
  border: 2px solid $primary-red-color;
  color: $primary-red-color;
  box-shadow: none;
  font-weight: bold;
  &:focus,
  &:active,
  &:hover {
    background-color: $palette-very-light-gray;
  }
}


.kafka-small-btn-action {
  background-color: $palette-white;
  border: 1px solid $primary-red-color;
  color: $primary-red-color;
  margin-right: 10px;
  cursor: pointer;
  &:focus,
  &:active,
  &:hover {
    border: 1px solid $color-dark-red;
    color: $color-dark-red;
  }
}

.mat-icon {
  color: $main-50;
  width: 15px;
  height: 15px;
  font-size: 20px;
  margin: 0 8px;
}
