@import 'palette';

.kafka-topics {
  height: 100%;
  overflow-y: scroll;
}

.topics-table {
  margin-left: auto;
  margin-right: auto;
}

.kafka-topic-action {
  margin-right: 10px;
}

.kafka-topics-name {
  font-size: 15px;
  color: $primary-gray-color;
}

.kafka-topics-group-header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: $primary-gray-color
}

.kafka-topics-favourite {
  color: $primary-red-color;
  cursor: pointer;
}
