<div class="kafka-topics" *ngIf="topics">
  <ng-template #noDataPlaceholder>
    <app-no-data-placeholder></app-no-data-placeholder>
  </ng-template>
  <ngx-datatable *ngIf="topics && topics.length > 0; else noDataPlaceholder"
                 class="topics-table material"
                 [rows]="filtered"
                 [rowHeight]="48"
                 [headerHeight]="24"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'force'"
                 [groupRowsBy]="'group'"
                 [groupExpansionDefault]="true"
                 [limit]="4"
                 (sort)="customSort($event)"
                 (activate)="navigateToTopic($event)"
                 #table>

    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template class="datatable-group-header-wrapper">
        <div class="group-header">{{group.value[0].group === 'FAVOURITES' ? 'Favourites' : 'All topics'}}</div>
        <span class="datatable-header-divider"></span>
        <span class="datatable-header-hide" (click)="table.groupHeader.toggleExpandGroup(group)">
          <span *ngIf="expanded">HIDE</span>
          <span *ngIf="!expanded">SHOW</span>
        </span>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column prop="name" name="Name" [width]="500">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <mat-icon class="ngx-star-favourite" *ngIf="row.group === 'FAVOURITES'" (click)="onFavouriteClick(row)">star</mat-icon>
        <mat-icon class="ngx-star-favourite gray" *ngIf="row.group !== 'FAVOURITES'" (click)="onFavouriteClick(row)">star</mat-icon>
        <span [routerLink]="['/topics/messages', value]">{{value}}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="partitions" name="Partitions" [width]="150">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column cellClass="ngx-actions-column" name="" prop="name" [width]="280" [sortable]="false" [resizeable]="false" [canAutoResize]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button class="ngx-action-button" (click)="openSendPopup(value)">Send</button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
