@use '../../styles/buttons';
@use '../../styles/inputs';
@import '../../styles/palette';
@import '../../styles/spaces';

.container {
  animation: slide-bottom 1s ease-in forwards;
  background: white;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom: 1px solid $main-20;
  border-left: 1px solid $main-20;
  border-right: 1px solid $main-20;

  .inner {
    animation: reveal 1s ease-in forwards;
  }
}

.hide {
  animation: slide-up 2s ease forwards;

  .inner {
    animation: hide 1s ease-in forwards;
  }
}

@keyframes slide-bottom {
  0% {
    height: 0;
  }

  100% {
    height: 280px;
  }
}

@keyframes slide-up {
  0% {
    height: 280px;
  }

  100% {
    height: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


.close-button {
  float: right;

  mat-icon {
    color: $blue-80;
    margin: $space-0;
  }
}

.survey-description {
  padding: $space-0 $space-7 $space-0;
  font-size: 14px;

  span {
    display: block;
  }

  span:nth-child(1) {
    padding: $space-4 $space-0;
  }

  span:nth-child(3) {
    padding: $space-4 $space-0;
  }
}

.survey-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  justify-content: right;
  gap: 16px;right: 16px;
  position: relative;
  bottom: 8px;

  .action-button-green {
    @include buttons.button-green;
    height: 32px;
  }

  .action-button-red {
    @include buttons.button-red;
    height: 32px;
  }
}
