@import 'palette';

.kafka-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid $main-20;
  border-top: 16px solid $main-60;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
