@import '../../../styles/palette';

:host {
  .mat-dialog-content {
    height: 100%;
  }

  .payload-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 24px 0;

    .key-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .value-section {
      display: flex;
      flex-direction: column;
      flex: 2;
    }

    .message-payload {
      flex: 1;
      padding: 24px;
      background: $main-10;
      overflow: auto;
    }

    .message-format {
    }
  }

  $green: #127D48;

  $type-colors: (
    string: $green,
    number: $green,
    boolean: $green,
    date: $green,
    array: #999,
    object: #999,
    function: #999,
    'null': #fff,
    undefined: #fff
  );

  @each $type, $color in $type-colors {
    ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
      color: $color !important;
    }
  }

  ::ng-deep .segment-key {
    color: $blue-60 !important;
  }

  .actions {
    gap: 16px;
  }

  .headers-table {
    max-height: 100%;

    .headers-table-detail {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }

  }
}
