@import '../../../styles/palette';

:host {
  $green: #127D48;

  .drawer-header {
    margin-bottom: 20px;
  }

  .label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .headers {
    .headers-table-detail {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }

  .payload {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 24px 0;
    overflow: auto;

    .key-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .value-section {
      display: flex;
      flex-direction: column;
      flex: 2;
    }

    .message-payload {
      flex: 1;
      padding: 24px;
      background: $main-10;
    }
  }

  .actions {
    gap: 16px;
  }

  $type-colors: (
    string: $green,
    number: $green,
    boolean: $green,
    date: $green,
    array: #999,
    object: #999,
    function: #999,
    'null': #fff,
    undefined: #fff
  );

  @each $type, $color in $type-colors {
    ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
      color: $color !important;
    }
  }

  ::ng-deep .segment-key {
    color: $blue-60 !important;
  }
}
