@import 'palette';

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $main-20;
  border-radius: 4px;
  width: 50%;
  height: 40px;

  &:hover, &:focus-visible {
    border: 1px solid $main-40;
    transition: all $default-transition-time;
  }

  input {
    height: 38px;
    border: none;
  }

  button {
    color: $main-60;
    line-height: 22px;
    margin-right: 8px;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid $main-20;
    background: $main-10;
    padding: 0;
  }

}
