@import 'palette';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-bottom: 4px;

  .small-button {
    margin-top: 8px;
  }
}

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $main-20;
  border-radius: $default-border-radius;
  width: 50%;
  height: 40px;

  &:hover, &:focus-visible {
    border: 1px solid $main-40;
    transition: all $default-transition-time;
  }

  input {
    height: 38px;
    border: none;
    padding: 0 32px 0 8px;
  }
}

.small-button {
  color: $main-60;
  line-height: 22px;
  margin-right: 8px;
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid $main-20;
  background: $main-10;
  padding: 0;
}
