<mat-dialog-content>
  <mat-icon mat-dialog-close class="close">close</mat-icon>

  <form #sendForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="drawer-title">Send event</div>
    <div class="drawer-subtitle">Send event to {{data.topicName}}</div>

    <div class="drawer-section-title">Key</div>
    <input [(ngModel)]="message.key" matInput type="text" name="key"/>

    <div class="drawer-section-title">Value</div>
    <div class="drawer-section-subtitle">Available placeholders: {{uuid}<!----> }, {{count}<!----> }, {{timestamp}
      <!----> }
    </div>
    <textarea rows="10" autosize [(ngModel)]="message.value" name="value"></textarea>

    <div class="drawer-section-title">Count</div>
    <div class="drawer-section-subtitle">How many times you want to send this event?</div>
    <div class="count">
      <input matInput type="number" min="1" [formControl]="countControl" name="count"/>
      <button type="button" mat-button disableRipple (click)="decreaseCount()">-</button>
      <button type="button" mat-button disableRipple (click)="increaseCount()">+</button>
    </div>

    <span class="spacer"></span>

    <div class="actions">
      <button type="button" mat-dialog-close mat-button disableRipple class="cancel">Cancel</button>
      <span class="spacer"></span>
      <button mat-button disableRipple class="action" type="submit">Send event</button>
    </div>
  </form>

</mat-dialog-content>
