<div class="broker-details">
  <mat-icon mat-dialog-close class="close">close</mat-icon>

  <div class="drawer-title">Broker details</div>

  <div class="broker-details-table">
    <ngx-datatable *ngIf="isAnimationDone" class="config-table-detail material"
                   [rows]="data.config"
                   [rowHeight]="48"
                   [headerHeight]="48"
                   [scrollbarH]="false"
                   [scrollbarV]="false"
                   [columnMode]="'force'"
                   #brokerConfig>
      <ngx-datatable-column [width]="350" prop="name" name="name"></ngx-datatable-column>
      <ngx-datatable-column prop="value" name="value"></ngx-datatable-column>
      <ngx-datatable-column prop="source" name="source"></ngx-datatable-column>
    </ngx-datatable>
    <div *ngIf="!isAnimationDone" class="kafka-progress"></div>
  </div>
</div>
