<div class="kafka-send">
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="key">Key</label>
      <input [(ngModel)]="message.key" type="text" id="key" name="key"/>
    </div>

    <div>
      <label for="value">Value (available placeholders: {{uuid}<!---->}, {{count}<!---->}, {{timestamp}<!---->})</label>
      <textarea autosize [(ngModel)]="message.value" class="materialize-textarea kafka-send-value" id="value" name="value" required="true"></textarea>
    </div>

    <div>
      <label for="count">Count</label>
      <input [(ngModel)]="count" type="number" id="count" name="count"/>
    </div>

    <button type="submit" class="kafka-primary-action btn btn-small">Submit</button>
    <button type="reset" class="kafka-secondary-action btn btn-small" (click)="cancel()">Cancel</button>

  </form>
</div>
