<mat-dialog-content>
  <div class="drawer-header">
    <div class="drawer-title">Event preview</div>
    <div class="spacer"></div>
    <mat-icon mat-dialog-close class="close">close</mat-icon>
  </div>
  <div class="headers-table">
    <ngx-datatable *ngIf="data.headers.length > 0 && isAnimationDone" class="headers-table-detail material"
                   [rows]="data.headers"
                   [rowHeight]="38"
                   [headerHeight]="38"
                   [scrollbarH]="false"
                   [scrollbarV]="false"
                   [columnMode]="'force'"
                   (activate)="navigateToTrack($event)">
      <ngx-datatable-column prop="key" name="header key"></ngx-datatable-column>
      <ngx-datatable-column prop="value" name="header value"></ngx-datatable-column>
    </ngx-datatable>
    <div *ngIf="!isAnimationDone" class="kafka-progress"></div>
  </div>

  <ngx-json-viewer [json]="data.source" class="json-details"></ngx-json-viewer>

  <div class="actions">
    <button type="button" mat-dialog-close mat-button disableRipple class="cancel">Cancel</button>
    <span class="spacer"></span>
    <button mat-button disableRipple class="cancel" [cdkCopyToClipboard]="formatJson(data.source)">Copy to clipboard</button>
    <button mat-button disableRipple class="action" (click)="resend()">Resend event</button>
  </div>

</mat-dialog-content>
