@use '../../../styles/buttons';

:host {
  height: 100%;

  .main-container {
    display: flex;
  }

  .toolbar-container {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 8px;

    .toolbar {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      gap: 16px;
      margin-right: 16px
    }
  }

  .action-button-black {
    @include buttons.button-black;
  }

  .action-button-blue {
    @include buttons.button-blue;
  }

  .action-button-white {
    @include buttons.button-white;
  }

  .action-button-white-table {
    @include buttons.table-button;
  }

  .action-button-red {
    @include buttons.button-red;
    @include buttons.table-button;
  }

  .search-icon {
    color: white;
    font-size: 20px;
  }
}
