<div class="kafka-toolbar">
  <app-breadcrumb [parentName]="'Topics'" [parentLink]="'/topics'" [name]="name"></app-breadcrumb>
  <div class="spacer"></div>
  <mat-slide-toggle [class.active]="online === true" disableRipple class="switch" (change)="onChange()" [(ngModel)]="online">
    Live update
    <div class="circle"></div>
  </mat-slide-toggle>
  <button mat-button class="action" (click)="openSendPopup()">Send event</button>
<!--  <topic-partitions [topicName]="name"></topic-partitions>-->
</div>
