.kafka-topics {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.topics-table {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.kafka-topic-action {
  margin-right: 10px;
}

.kafka-topic-action-secondary {
  background-color: #404040;
}

.kafka-topics-name {
  font-size: 15px;
}

.kafka-topics-group-header {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.kafka-topics-favourite {
  color: #ef6c00;
  cursor: pointer;
}
