<div class="kafka-topics" *ngIf="topics">
  <ngx-datatable *ngIf="topics && topics.length > 0"
                 class="topics-table material"
                 [rows]="filtered"
                 [rowHeight]="50"
                 [headerHeight]="40"
                 [scrollbarH]="false"
                 [scrollbarV]="false"
                 [columnMode]="'force'"
                 [groupRowsBy]="'group'"
                 [groupExpansionDefault]="true"
                 [limit]="4"
                 #table>

    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
      <ng-template let-group="group" ngx-datatable-group-header-template>
        <div class="kafka-topics-group-header">{{group.value[0].group === 'FAVOURITES' ? 'FAVOURITES' : 'ALL TOPICS'}}</div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column prop="group" name="group" [width]="45" [resizeable]="false" [canAutoResize]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <i class="material-icons left kafka-topics-favourite" *ngIf="value === 'FAVOURITES'" (click)="onFavouriteClick(row)">star</i>
        <i class="material-icons left kafka-topics-favourite" *ngIf="value !== 'FAVOURITES'" (click)="onFavouriteClick(row)">star_border</i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="name" name="Name" [width]="500" [sortable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a class="kafka-topics-name" [routerLink]="['/topic/messages', value]">{{value}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="partitions" name="Partitions" [width]="150" [sortable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" prop="name" [width]="280" [sortable]="false" [resizeable]="false" [canAutoResize]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a class="kafka-topic-action btn"
           [routerLink]="['/topic/messages', value]"><i class="material-icons left">search</i>BROWSE</a>
        <a class="kafka-topic-action kafka-topic-action-secondary btn btn-small"
           [routerLink]="['/topic/send', {topicName: value}]"><i class="material-icons left">add</i>SEND</a>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
