@use '../../styles/inputs';
@import '../../styles/palette';

:host {
  mat-toolbar {
    height: 72px;
    border-bottom: 1px solid $main-20;
  }

  .kouncil-logo {
    margin-left: 8px;
    margin-right: 16px;
    color: $main-100;
    font-weight: 700;
    font-size: 24px;
  }

  mat-toolbar {
    background: $main-0;
  }

  mat-divider {
    margin: 0 16px;
  }

  .menu-button {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0;
    margin: 0 16px;
    min-width: 32px;
    color: $main-60;
    padding: 10px;

    @media screen and (max-width: 1750px) {
      margin: 0 10px;
      padding: 7px;
    }

    @media screen and (max-width: 1600px) {
      margin: 0 8px;
      padding: 5px;
    }

    @media screen and (max-width: 1500px) {
      margin: 0 4px;
      padding: 2px;
    }

    &:focus {
      background: transparent;
    }

    &.active {
      border-bottom: 2px solid $main-text-color;
      color: $main-100;
    }
  }

  .search-input {
    @include inputs.input;
    width: 400px;

    @media screen and (max-width: 1800px) {
      width: 350px;
    }

    @media screen and (max-width: 1625px) {
      width: 325px;
    }

    @media screen and (max-width: 1550px) {
      width: 275px;
    }
  }

  .search-input:hover {
    @include inputs.hover;
  }

  .search-input:focus-visible {
    @include inputs.focus-visible;
  }

  .search {
    display: inline-block;
    position: relative;
  }

  .search::after {
    content: '/';
    position: absolute;
    right: 12px;
    top: 8px;
    background-color: $main-10;
    border: 1px solid $main-20;
    border-radius: $default-border-radius;
    color: $main-50;
    padding: 0 9px;
    font-size: 14px;
    line-height: $default-line-height;
  }

  .search::before {
    content: '\26B2';
    transform: rotate(-45deg);
    position: absolute;
    left: 8px;
    top: 8px;
    color: $main-50;
    padding: 0 6px;
    font-size: 24px;
    line-height: $default-line-height;
  }

  .servers-form-field {
    margin-left: 16px;
    min-width: 300px;
    max-width: 300px;
  }

  .servers::before {
    content: '\e1db';
    position: absolute;
    left: 8px;
    top: 9px;
    color: $main-50;
    padding: 0 6px;
    font-size: 24px;
    line-height: $default-line-height;
    font-family: 'Material Icons';
  }

  .consdata-logo {
    height: 72px;
    width: 320px;
  }

}
