@import '../../../../styles/palette';
@import '../../../../styles/spaces';

.schema-form {
  margin: $space-5;

  .schema-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $space-5;

    .schema-form-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  .panels-container {
    display: flex;
    flex-direction: column;
    gap: $space-5;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: $space-3;
  color: $main-60;

  .required-field {
    color: $red-50;
  }
}

.schema-base-info {
  display: inline-flex;
  width: 100%;
  gap: $space-5;
  margin-bottom: $space-5;
}

.actions {
  float: right;
  margin-top: $space-6;
  display: flex;
  gap: $space-3;
}

.full-width {
  width: 100%;
}
