@use '../../../styles/inputs';
@import '../../../styles/palette';

.survey-base {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 5px;
  padding-bottom: 10px;
  width: 50%;
}

.survey-base-with-response {
  width: 70%
}

.survey-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  padding: 20px 30px 5px;
  overflow: hidden;

  .survey-title {
    display: flex;
    padding-bottom: 5px;

    .required-mark {
      margin-left: 3px;
      color: $red !important;
    }
  }

  .survey-scale {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .survey-scale-text,
  .survey-scale-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  .survey-scale-buttons {
    .scale-button {
      width: 45px;
      height: 30px;
      color: #407BF1;
      background: white;
      border: 1px solid lightgrey;
    }

    .selected-button-value, .scale-button:hover {
      background-color: #407BF1;
      color: white;
      border: 1px solid #AFC9FD;
    }

    .scale-button:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .scale-button:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.survey-form {
  padding: 5px 0;
  width: 30%;

  textarea {
    &:focus-visible {
      @include inputs.focus-visible;
    }

    border: 1px solid #EAEAEA;
    width: 100%;
    resize: none;
  }
}
