@import 'palette';

:host {
  ::ng-deep .datatable-cell-wrapper .datatable-body-cell-label  {
    width: 100%;
    height: 100%;

    .kafka-consumer-groups {
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }

    .datatable-cell-anchor {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      color: inherit;
    }
  }

  .datatable-cell-anchor {
    &.status-preparingrebalance {
      color: #be7b00;
    }

    &.status-completingrebalance {
      color: #be7b00;
    }

    &.status-stable {
      color: #109810;
    }

    &.status-dead {
      color: #b10101;
    }

    &.status-empty {
      color: $main-40;
    }
  }
}
