@import 'palette';

.kafka-toolbar {
  height: 100%;
  display: flex;
  align-items: center;

  svg {
    width: 100px;
    height: 48px;
  }
}

.kafka-breadcrumb {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  display: flex;
  align-items: center;
  background-color: $color-gray-1;
}

.kafka-actionbar {
  padding-left: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.switch {
  label {
    color: initial;
    display: flex;
    align-items: center;
    .kafka-toolbar-lever {
      margin-left: 8px;
      background-color: $color-gray-3;
    }
    input[type=checkbox]:checked + .lever:after {
      background-color: $primary-red-color;
    }

    .lever:before {
      background-color: $primary-red-color;
      opacity: 0.15;
    }
  }
}

