<div class="kafka-toolbar">
  <div class="kafka-breadcrumb">
    <div>Topic&nbsp;&nbsp;>&nbsp;&nbsp;{{name}}</div>
  </div>
  <div class="kafka-actionbar">
    <div class="switch kafka-toolbar-switch">
      <label>
        LIVE
        <input type="checkbox" (change)="onChange()" [(ngModel)]="online">
        <span class="lever kafka-toolbar-lever"></span>
      </label>
    </div>
    <a class="kafka-primary-action btn btn-small waves-light" [routerLink]="['/topic/send', {topicName: name}]">add</a>
  </div>
</div>
