@import '../../styles/palette';

:host {
  .topic {
    height: 100%;
  }

  .topic-toolbar-area {
    display: flex;
  }

  .topic-table-area {
    height: 100%;
  }

  .topic-pagination {
    width: 100%;
  }
}
