@use '../../styles/inputs';
@use '../../styles/buttons';
@import '../../styles/palette';

.main-login {
  display: flex;
  place-items: center;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  background: white;
  top: 100px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
}

.icon-login-container {
  display: flex;
  place-items: center;
  height: 100px;
  width: 100px;
  background: #2566E8;
  top: 125px;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 50px);
  z-index: 1;
}

.icon-login {
  width: 75px;
  height: 75px;
  font-size: 75px;
  margin: 0 auto;
  color: $main-0;
}

.login-form {
  place-items: center;
  display: grid;
  margin: 0 auto;
  width: 250px;
}

.input {
  @include inputs.input;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input:hover {
  @include inputs.hover;
}

.input:focus-visible {
  @include inputs.focus-visible;
}

.action-button-white {
  @include buttons.button-white;
}

.login-field-container {
  display: flex;
}

.login-field-input-container {
  width: 85%
}

.login-field-icon-container {
  background: $blue-40;
  width: 15%;
  border-top-left-radius: $default-border-radius;
  border-bottom-left-radius: $default-border-radius;
}

.login-field-icon {
  display: flex;
  place-items: center;
  font-size: 24px;
  color: white;
  height: 100%;
}
