<div class="drawer-header">
  <div class="drawer-title">Delete {{data.objectType}}</div>
  <div class="spacer"></div>
  <mat-icon mat-dialog-close class="close">close</mat-icon>
</div>

<div class="drawer-subtitle">Are you sure you want to delete:</div>

<div class="drawer-section-title">{{data.objectName}}</div>

<div class="actions">
  <button type="button" mat-dialog-close mat-button disableRipple class="cancel">No, keep it</button>
  <span class="spacer"></span>
  <button mat-button disableRipple class="action" (click)="delete()">Yes, delete it</button>
</div>
